body{
    background-color: rgb(243, 245, 218);
    text-align: center;
    width: 1480px;
    margin-right: 50%;
    margin-left: 15%;
    margin-block: 16%;
    background-image: url("_img/galaxia.jpg");
    }
h1{
    color: yellow;
}
a{
    display: block;
    border-radius: 150px;
    margin: 70px 650px;
    background-color: white;
    color: blue;
    text-decoration: none;
}
a:hover{
    background-color: yellow;
    color: black;
}