<!DOCTYPE html>
<html>
    </html>

<head lang="es-co">
    <title>FIGURAS</title>
    <link rel="icon" type="image/x-icon" href="_img/figurasgeometricas.png">
    <link rel="stylesheet" href="../Assets/style.css">
</head>

<body>
    <br><br><br><br><br><br><br><br><br><br><br><h1>AREÁ Y PERÍMETRO<br>DE FIGURAS</h1><br><br>
    <a href="First_Page.html">FIGURA Nº1</a><br><br><br><br>
    <a href="Second_Page.html">FIGURA Nº2</a><br><br><br><br>
    <a href="Third_Page.html">FIGURA Nº3</a>
</body>